* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.outerContainer {
  display: grid;
  font-family: "Roboto";
  grid-template-columns: minmax(240px, 1fr) minmax(700px, 4fr);
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-area: header;
  background-color: white;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 0px 1px 25px -5px rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.sidebar {
  display: grid;
  grid-area: sidebar;
  background-color: #0ea5e9;
  padding: clamp(10px, 5%, 2rem);
  color: white;
  align-items: flex-start;
  grid-template-rows: 4rem max-content max-content;
  row-gap: 50px;
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 3;
}

ul {
  list-style-type: none;
}

.mainContent {
  grid-area: main;
  display: grid;
  grid-template-columns: minmax(800px, 2.5fr) minmax(350px, 1.5fr);
  background-color: rgb(234, 233, 233);
  padding: 25px 20px 15px 20px;
  column-gap: 25px;
}

.mainContent .leftColumn .projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(365px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  gap: clamp(10px, 4%, 40px);
  margin-top: 10px;
}

.mainContent .leftColumn .projectsContainer > article {
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr;
  background-color: white;
  padding: 32px 25px 15px 32px;
  font-size: 15px;
  color: rgb(92, 93, 93);
  border-left: 7px solid orange;
  border-radius: 5px;
  box-shadow: 10px 8px 5px -7px rgba(0, 0, 0, 0.35);
}

.mainContent .leftColumn .projectsContainer > article p {
  text-wrap: wrap;
}

.mainContent .leftColumn .projectsContainer > article .actionIcons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  align-content: center;
  width: 45%;
  justify-self: end;
}

.mainContent .leftColumn .projectsContainer > article .actionButton {
  width: 1.5rem;
  height: auto;
}

.mainContent .leftColumn .projectsContainer h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  height: max-content;
}

.mainContent .rightColumnContent {
  margin-top: 10px;
  height: 90%;
  display: grid;
  grid-template-rows: 7fr 0.5fr 6fr;
  row-gap: 10px;
}

.rightColumnContent .announceContainer {
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 8px 5px -7px rgba(0, 0, 0, 0.35);
}

.rightColumnContent .trendsContainer {
  background-color: white;
  height: 100%;
  border-radius: 5px;
  box-shadow: 10px 8px 5px -7px rgba(0, 0, 0, 0.35);
  margin-top: 1px;
}

.mainContent .leftColumn h2,
.mainContent .rightColumn h2 {
  font-weight: 500;
  font-size: 18px;
}

.sidebar #dashboardIcon {
  width: 4rem;
  height: auto;
}

.sidebar .logo {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.firstNavMenu ul,
.secondNavMenu ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 15px;
}

.header .topHeader {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
  padding: clamp(8px, 1%, 1.5rem);
  align-items: center;
}

.header .topHeader #searchImage,
.header .topHeader #notificationImage {
  width: 1.5rem;
  height: auto;
}

.header .topHeader #accountImage {
  width: 3.2rem;
  height: auto;
}

.topHeader span {
  font-size: 1.2rem;
  font-weight: 500;
}

.topHeader input {
  height: 30px;
  width: 80%;
  border: none;
  background-color: #d4d4d8;
  border-radius: 16px;
}

.bottomHeader {
  display: grid;
  grid-template-columns: 2fr minmax(360px, 1fr);
  align-content: center;
  padding: 0px clamp(10px, 5%, 80px);
  column-gap: clamp(110px, 5%, 80%);
}

.bottomHeader #accountImageLower {
  width: 4rem;
  height: auto;
}

.bottomHeader > .greetingDiv {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: max-content 1fr;
  column-gap: 10px;
  min-width: 305px;
}

.bottomHeader .buttonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  column-gap: minmax(10px, 50px);
}

.bottomHeader .buttonsContainer button {
  background-color: #0ea5e9;
  border: none;
  border-radius: 30px;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: 600;
}

#trendsHeader {
  margin-top: 25px;
}
